.contextoacorde{
    flex-wrap: wrap;
    height: 60px;
    width: 100px;
    display: flex;
    flex-direction: column;
    border:none;


    font-family: "Montserrat", sans-serif;
    font-size: 13px;

    box-sizing: border-box; 
}