
.quadro{
    display: flex;
   flex-direction: column; 
   align-items: center;
   position: relative;
  height: 425px;

 
   border-bottom: 1px dotted black;
}

.ciclo{

    display: flex;
    flex-direction: row;
    position: absolute
  


}


.controle{
    /* position: relative;
    top: 430px; */
    position: relative;
   
}